$g-text-muted: #999999 !default
$g-text-warning: #c09853 !default
$g-text-error: #c09853 !default
$g-text-info: #3a87ad!default
$g-text-success: #468847!default

$g-bg-muted: #f9f9f9 !default
$g-bg-warning: #fcf8e3 !default
$g-bg-error: #f2dede !default
$g-bg-info: #d9edf7!default
$g-bg-success: #dff0d8!default

.l-application
  margin: 10px 0 0 0
  display: flex

.l-form,
.l-items
  flex: 0 0 50%

// @import './components/_ItemsList'
@import './components/Items/_styles'
